---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBarCentered.astro';
const validWords = await Astro.glob('./words/*.txt');
const wordList = validWords.map(wordFile => wordFile.default as string);

function getRandomWord(words: string[]): string {
    const randomIndex = Math.floor(Math.random() * words.length);
    return words[randomIndex];
}

const randomWord = getRandomWord(wordList).toLowerCase();

// Parse the URL to get the guess
const url = new URL(Astro.request.url);
const guess = url.searchParams.get('guess') || '';

// Get the streak value from cookies
const streakCookie = Astro.cookies.get('wordleStreak');
let streak = parseInt(streakCookie?.value || '0', 10);

let message = '';

if (guess.length === 5) {
    if (guess === randomWord) {
        streak++;
        Astro.cookies.set('wordleStreak', streak.toString());
        message = 'You guessed correctly!';
    } else {
        message = 'Try again!';
    }
} else if (guess) {
    message = 'Your guess must be 5 letters long!';
}
---

<Layout title="Wordle Game">
    <div class="bg-stone-100 w-100 min-h-screen p-10">
        <div class="min-h-screen bg-gray-100 p-4">
            <NavBar
                    link1name="Love"
                    link1 = "/home"
                    link2name="Fan"
                    link2 = "/fan"
                    link3name="Wordle"
                    link3 = "/wordle"
            />
            <div class="space-y-6 flex-col flex items-center text-center">
                <div id="wordle-game" class="prose prose-lg text-center mt-10">
                    <p>Guess the word:</p>
                    <form method="get" action="/wordle">
                        <input type="text" name="guess" maxlength="5" value={guess} />
                        <button type="submit">Submit Guess</button>
                    </form>
                    <p id="result-message">{message}</p>
                </div>
                <div id="streak-counter" class="prose prose-lg text-center mt-10">
                    <p>Current Streak: <span id="streak">{streak}</span></p>
                </div>
            </div>
        </div>
    </div>
</Layout>
