---
const {
    link1 = "#",
    link1name = "Features",
    link2 = "#",
    link2name = "Pricing",
} = Astro.props;
---

<div class="flex w-full p-4 justify-center items-center border-b border-gray-400">
    <div class="flex text-md md:text-2xl justify-center items-center">
        <p class="font-normal">
            <a id="link1" href={link1}>{link1name}</a>
        </p>
        <p class="mx-8 text-gray-400">/</p>
        <p class="font-normal">
            <a id="link2" href={link2}>{link2name}</a>
        </p>
    </div>
</div>

<script>
    const currentUrl = window.location.pathname;
    const link1 = document.querySelector('#link1');
    const link2 = document.querySelector('#link2');

    if (link1) {
        if (link1.getAttribute('href') === currentUrl) {
            link1.classList.add('font-black');
        }
    }

    if (link2) {
        if (link2.getAttribute('href') === currentUrl) {
            link2.classList.add('font-black');
        }
    }
</script>
