---
import Button from './basic/ButtonBlack.astro';

const {
    link1 = "#",
    link1name = "Features",
    link2 = "#",
    link2name = "Pricing",
} = Astro.props;

// Get the current URL
const currentUrl = Astro.url.pathname;
---

<div class="flex w-full p-4 justify-center items-center border-b border-gray-400">
    <div class="flex text-md md:text-2xl justify-center items-center">
        <p class="font-normal">
            <a href={link1} class={currentUrl === link1 ? 'font-black' : ''}>{link1name}</a>
        </p>
        <p class="mx-8 text-gray-400">/</p>
        <p class="font-normal">
            <a href={link2} class={currentUrl === link2 ? 'font-black' : ''}>{link2name}</a>
        </p>
    </div>
</div>
